@tailwind base;
@tailwind components;
@tailwind utilities;

.circle {
    width: 80%;
    height: 80%;
    border: 10px solid blue;
    border-radius: 50%;
}

.cross {
    width: 80%;
    height: 80%;
    position: relative;
    transform: rotate(45deg);
}

.cross::before,
.cross::after {
    content: '';
    position: absolute;
    background-color: red;
}

.cross::before {
    left: 50%;
    width: 10%;
    height: 100%;
    margin-left: -5%;
}

.cross::after {
    top: 50%;
    height: 10%;
    width: 100%;
    margin-top: -5%;
}